<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ my_name }}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>
<body>
<style>
    body {
        font-family: 'Dosis', sans-serif;
        text-align: center;
        background: no-repeat center right fixed url('https://ak6.picdn.net/shutterstock/videos/20559346/thumb/5.jpg');
	    background-size: cover;
        font-size: 20px;
        line-height: 1.8;
        overflow: hidden;
    }
    img {
        margin-top: 100px;
        border: 10px solid lightgrey;
    }

    div {
        margin-top: -23px;
    }
    p {
        font-size: 15px;
        line-height: 1.8;
    }
</style>
    <header>
        <h1 style="font-size: 70px">Hello, World!</h1>
        <h4 style="margin-top: -10px">Welcome to My First Website</h4>
    </header>
    <div class="col-md-12">
        <div class="container">
            <div class="row2">
                <div class="col-md-4">
                    <img class="img-circle" src="https://pbs.twimg.com/media/DmYgHO6W0AAriuu.jpg" width="160" height="160">
                    <h3><strong>Wall</strong></h3>
                    <p>
                        Just a White Wall beside me.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-circle" src="https://pbs.twimg.com/media/DmdGUTyU0AAp3dU.jpg" width="160" height="160">
                    <h3><strong>{{ my_name }}</strong></h3>
                    <p>
                        {% for bio in my_bio %}
                            <strong> {{ bio.key }} </strong>
                            <br >{{ bio.value }}<br>
                        {% endfor %}
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-circle" src="https://pbs.twimg.com/media/DmdICWVV4AEE6WJ.jpg" width="160" height="160">
                    <h3><strong>{{ friend_name }}</strong></h3>
                    <p>
                        {% for bio in friend_bio %}
                            <strong> {{ bio.key }} </strong>
                            <br >{{ bio.value }}<br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p style="color:darkblue; font-size: 14px; margin-top: 538px">&copy; Made with Love by {{ my_name }} </p>
</body>
</html>