{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 1000">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Story_4:index' %}">HOME <i class="fa fa-home"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Story_4:about' %}">ABOUT <i class="fa fa-user"></i><span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'Story_4:resume' %}">RESUME <i class="fa fa-file-text"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Story_4:index' %}">
            <h2>Muhamad Lutfi Arif</h2>
            <h5>Your Future Programmer</h5>
            <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Story_5:diary' %}">DIARY <i class="fa fa-book"></i><span class="sr-only">(current)</span></a>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Story_4:contact' %}">CONTACT <i class="fa fa-comments-o"></i><span class="sr-only">(current)</span></a>
      </li>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'Story_4:form' %}">GUEST FORM <i class="fa fa-address-book"></i><span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>