#form {
    padding-top: 20px;
	text-align: center;
    line-height: 1.6;
}
#form h1 {
    font-weight: bolder;
}

form {
    width: 220px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);

}
button {
    text-align: center;
}



