.main-div {
    font-family: 'Titillium Web', sans-serif;
    padding-top: 20px;
	text-align: center;
    line-height: 1.6;
}

.main-div h1 {
    font-weight: bolder;
}

.main-div a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #199cdb;
    transition: 0.5s;
    position: relative;
    z-index: 10000;
    box-shadow: 0 3px 3px 0 grey;
}
.main-div i {
    font-size: 20px;
    padding-left: 15px;
}
.main-div a:hover {
    background-color: #fcfcfc;
    border-color: #199cdb;
    color: #199cdb ;
}

.main-div #list {
    padding-top: 20px;
}