/* Header Style */
@media (min-width: 768px){
    .navbar {
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    }
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .navbar-nav li  {
        font-family: 'Titillium Web', sans-serif;
        font-weight: bolder;
        padding: 0px 35px;
    }
    .navbar-nav a {
        text-align: center;
        vertical-align: middle;
    }
    .navbar-nav h2 {
        font-size: 24px;
        font-weight: bolder;
        margin-top: -10px;
    }
    .navbar-nav h5 {
        font-size: 14px;
        font-weight: 300;
        margin-top: -6px;
        margin-bottom: -18px;
    }
    .navbar-nav i {
        font-size: 16px;
        color: #199cdb;
        padding-left:10px;
    }
}
/* Footer style */
.footer {

}

/* Home Style */
#home {
    background: url("http://www.ucatx.cat/wallpic/full/8/82773/developer-wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#greet {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    vertical-align: middle;
    text-align: center;
}
#greet h1 {
    font-family: 'Marcellus SC', serif;
    font-size: 100px;
    z-index: -10000;
}
#greet p {
    font-family: 'Titillium Web', sans-serif;
    z-index: -10000;
}
#greet a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    text-align: left;
    color: white;
    padding: 7px 53px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #199cdb;
    transition: 0.5s;
    position: relative;
    z-index: 10000;
}
#greet a:hover {
    background-color: #ffffff;
    color: #199cdb  ;
}

/* Profile Style */
#about {
    background-color: white;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 20px;
	text-align: center;
    line-height: 1.6;
}
.about1 {
    text-align: left;
    background-color: #F7F7F7;
}
.foto-about {
    background-color: #F2F2F2;
}
.foto-about img{
    height: 280px;
    width: 280px;
    border-radius: 100%;
    border: 10px solid #F2F2F2;
    box-shadow: 0 10px 10px 0 grey;
    margin-top: 10%;
    margin-bottom: 10%;
}
.about2 {
    text-align: right;
    background-color: #F7F7F7;
}
.about2 strong {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    margin-right: -5px;
}
.row h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    padding: 15px 20px 10px;
}
.row p, h5{
    font-family: 'Titillium Web', sans-serif;
    padding: 0px 20px 10px;
}

/* Resume Style */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline p#date {
    margin-top: -15px;
    font-size: 12px;
    font-style: italic;
}
ul.timeline p#decs {
    margin-top: -25px;
    font-size: 14px;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    top: -40px;
    left: 29px;
    width: 1px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: -40px 0px;
    padding-bottom: 40px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
#wrapper{
    padding:20px 15px;
    font-family: 'Titillium Web', sans-serif;
}
.card{
    margin-bottom: 15px;
    border-radius:0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
.card i {
    color: darkgray;
    float: right;
    font-size: 38px;
}
.card-title {
    font-size: 30px
}
.card-body {
    margin-bottom: -60px;
}
.header-top{
    box-shadow: 0 3px 5px rgba(0,0,0,.1)
}
.leftmenutrigger{
    display: none
}
@media(min-width:992px) {
    .leftmenutrigger {
        display: block;
        display: block;
        margin: 7px 10px 4px 0;
        cursor: pointer;
    }

    #wrapper {
        padding: 20px 15px 15px 15px;
        font-family: 'Titillium Web', sans-serif;
    }

    .animate {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
}
ul.skills {
    list-style-type: none;
    position: relative;
}
ul.skills > li {
    margin: -40px 0px;
    padding-bottom: 40px;
}
ul.skills > li h5 {
    margin-left: -38px;
}
.rating {
    margin-top: -10px;
    margin-left: -16px;
    margin-bottom: 20px;
}
.rating span {
  	background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 38px;
}
.rating span.transparent {
    opacity: 0.1;
	background:#888888;
}
#resume {
    background-color: white;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 20px;
    line-height: 1.6;
}

/* Contact Style */
#contact{
    margin: 0;
    padding: 0;
    background-color: #ccc;
}
#contact ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}
#contact ul li{
    list-style: none;
    margin: 0 40px;
}
#contact ul li .fa{
    font-size: 40px;
    color:#199cdb;
    line-height: 80px;
    transition: .5s;
}
#contact ul li a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
#contact ul li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
#contact ul li a::after{
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
#contact ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
#contact ul li:hover .fa{
    color: #fff;
}
#contact ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
#contact ul li:hover:nth-child(1) a{
    background: #3b5999;
}

#contact ul li:hover:nth-child(1) a:before{
    background: #2e4a86;
}
#contact ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
}
#contact ul li:hover:nth-child(2) a{
    background: #55acee;
}
#contact ul li:hover:nth-child(2) a:before{
    background: #4184b7;
}
#contact ul li:hover:nth-child(2) a:after{
    background: #4d9fde;
}
#contact  ul li:hover:nth-child(3) a{
    background: #dd4b39;
}

#contact ul li:hover:nth-child(3) a:before{
    background: #c13929;
}
#contact ul li:hover:nth-child(3) a:after{
    background: #e83322;
}

#contact ul li:hover:nth-child(4) a{
    background: #0077B5;
}

#contact ul li:hover:nth-child(4) a:before{
    background: #036aa0;
}
#contact ul li:hover:nth-child(4) a:after{
    background: #0d82bf;
}

#contact ul li:hover:nth-child(5) a{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

#contact ul li:hover:nth-child(5) a:before{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
#contact ul li:hover:nth-child(5) a:after{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
#cont {
    background: #199cdb;
    overflow: hidden;
}