#home {
    background: url("http://www.ucatx.cat/wallpic/full/8/82773/developer-wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#greet {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    vertical-align: middle;
    text-align: center;
}
#greet h1 {
    font-family: 'Marcellus SC', serif;
    font-size: 100px;
    z-index: -10000;
}
#greet p {
    font-family: 'Titillium Web', sans-serif;
    z-index: -10000;
}
#greet a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    text-align: left;
    color: white;
    padding: 7px 53px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #199cdb;
    transition: 0.5s;
    position: relative;
    z-index: 10000;
}
#greet a:hover {
    background-color: #ffffff;
    color: #199cdb  ;
}