{% extends "layout/base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "css/about.css" %}">
{% endblock style %}

{% block content %}
    <div id="about" class="col-md-12">
        <div class="container">
            <h1 style="font-weight: bolder">My Profile</h1>
            <p class="lead">"The best of you are those who benefits others"</p>
            <hr>
            <div class="row">
                <div style="box-shadow: 10px 10px 0px rgba(0,0,0,0.1);" class="about1 col-md-4">
                    <h3>Who Am I ?</h3>
                    <h5 style="font-family: 'Titillium Web', sans-serif; font-weight: lighter; font-style: italic">An Amateur Programmer Located in Our Lovely Earth</h5>
                    <p>I am a college student of Computer Science University of Indonesia. I am Introvert person. I love to be helpful for others. I always be cheerful and be friendly with others. I am learning to be an expert web developer right now and I have a dream to work at Google soon.
                    </p>
                </div>
                <div style="box-shadow: 10px 10px 0px rgba(0,0,0,0.1);" class="foto-about col-md-4">
                    <img src="{% static "img/profile.jpg" %}" alt="Programmer Sholeh">
                </div>
                <div style="box-shadow: 10px 10px 0px rgba(0,0,0,0.1);" class="about2 col-md-4">
                    <h3>Details</h3>
                    <p>
                        <strong>Name</strong>
						<br>Muhamad Lutfi Arif<br>
                        <strong>Birthdate</strong>
						<br>October 23, 1999<br>
						<strong>Age</strong>
						<br>18 years old<br>
                        <strong>Phone</strong>
						<br>+62 813-1754-1282<br>
                        <strong>Email</strong>
						<br>Larif216@gmail.com<br>
						<strong>Location</strong>
						<br>Central Jakarta, DKI Jakarta, Indonesia<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}