{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Muhamad Lutfi Arif</title>
    <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/shamelin/pen/NqoLzO?depth=everything&order=popularity&page=14&q=services&show_forks=false" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

<style>
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: -2px;
    position: relative;
}
.main-connection-div {
    margin-top: 5%;
    margin-left: 60%;
    padding: 20px;
    background: rgba(250, 250, 250, 0.9);
    width:400px;
    height:570px;
    position: absolute;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.log-in-main-connection-div {
    width: 100%;
    left: 0;
    float: left;
}


.title-log-in-main-connection-div {
    color: #0072ff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 5px 0 0 15px;
    padding: 0;
}


.main-connection-div .input-field {
    width: 80%;
    margin: 20px 0 0 30px;
}

/* label focus color */
.main-connection-div .input-field input[type=text]:focus + label {
    color: #0072ff;
    left: 0.1rem;
}

.input-field label.active {
    left: 0.1rem;
}

/* label underline focus color */
.main-connection-div .input-field input[type=text]:focus {
    border-bottom: 1px solid #0072ff;
    box-shadow: 0 1px 0 0 #0072ff;
}

/* valid color */
.main-connection-div .input-field input[type=text].valid {
    border-bottom: 1px solid #2ecc71;
    box-shadow: 0 1px 0 0 #2ecc71;
}

/* invalid color */
.main-connection-div .input-field input[type=text].invalid {
    border-bottom: 1px solid #e74c3c;
    box-shadow: 0 1px 0 0 #e74c3c;
}
/* label focus color */
.main-connection-div .input-field input[type=email]:focus + label {
    color: #0072ff;
    left: 0.1rem;
}

.input-field label.active {
    left: 0.1rem;
}

/* label underline focus color */
.main-connection-div .input-field input[type=email]:focus {
    border-bottom: 1px solid #0072ff;
    box-shadow: 0 1px 0 0 #0072ff;
}

/* valid color */
.main-connection-div .input-field input[type=email].valid {
    border-bottom: 1px solid #2ecc71;
    box-shadow: 0 1px 0 0 #2ecc71;
}

/* invalid color */
.main-connection-div .input-field input[type=email].invalid {
    border-bottom: 1px solid #e74c3c;
    box-shadow: 0 1px 0 0 #e74c3c;
}

.options-alert a, button {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #777;
    padding: 8px 20px;
    margin-right: 10px;
    border-radius: 2px;
}

.options-alert a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.options-alert a:active {
    background: rgba(0, 0, 0, 0.2);
}

a, button {
    color: #0072ff;
}
iframe {
    z-index: -100;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}
@media only screen and (max-width: 400px) {
    .main-connection-div {
        margin: 0%;
        padding: 20px;
        background: rgba(250, 250, 250, 0.8);
        width:400px;
        height:570px;
        position: absolute;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    }
}
</style>
</head>
<body>
    <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.5964915176205!2d106.84510931471644!3d-6.184721495522507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f44f49facefb%3A0x240fe7f4b1156e63!2sJl.+Kramat+Pulo+Dalam+2%2C+Kramat%2C+Senen%2C+Kota+Jakarta+Pusat%2C+Daerah+Khusus+Ibukota+Jakarta+10450!5e0!3m2!1sid!2sid!4v1537954529820" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="main-connection-div" id="main-connection-div">
        <div class="log-in-main-connection-div" id="log-in-main-connection-div">
            <p class="title-log-in-main-connection-div">Guest Form</p>
            <form id="form" method="POST" action="{% url 'Story_4:add_guest' %}">
                {% csrf_token %}
                <div class="input-field col s6">
                    <input type="text" name="name" id="username intert-textarea"class="validate" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-field col s6">
                    <input type="email" name="email" id="username intert-textarea" class="validate" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" name="subject" id="username intert-textarea" class="validate" required>
                    <label for="subject">Subject</label>
                </div>
                <div class="input-field col s6">
                    <textarea style="height: 110px; resize: none" name="message" required type="text" id="username intert-textarea" class="validate"></textarea>
                </div>
                <div class="row">
                    <a href="{% url "Story_4:index" %}" class="waves-effect waves-light btn-large" style="margin: 20px 0 0 30px; background: #0072ff;">Back</a>
                    <button name="myButton" type="submit" class="waves-effect waves-light btn-large" style="margin: 20px 0 0 68px; background: #0072ff;" onclick="this.disabled=true;this.form.submit();">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function checkForm(form)
        {
            //
            // validate form fields

            form.myButton.disabled = true;
            return true;
        }

</script>
</body>
</html>