{% extends "layout/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
{% endblock style %}
{% block content %}
<body id="home">
    <div id="particles-js"></div>
    <div class="container" id="greet">
        <h1 class="display-4">Hello, World!</h1>
        <p class="lead">Welcome to My First Site</p>
        <a href="{% url 'Story_4:form' %}">Guest Form</a>
    </div>
</body>

{% endblock content %}