{% extends "layout/base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "css/resume.css" %}">
{% endblock style %}
{% block content %}
<div id="resume" >
    <div class="container">
    <h1 align="center" style="font-weight: bolder">My Resume</h1>
    <hr>
    <div id="wrapper" class="animate">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Organization<i class="fa fa-briefcase"></i></h5>
                            <div class="container mt-5 mb-5" style="background-color: white">
                                <div class="row">
                                    <ul class="timeline">
                                        <li>
                                            <h5>FUKI - FASILKOM UI</h5>
                                            <p id="date">Feb 2018 - Current</p>
                                            <p id="decs">FUKI (Forum Ukhuwah & Kajian Islam) is Faculty Dakwah Institute at Faculty of Computer Science. I became an Al-Qu'ran Division Staff.</p>
                                        </li>
                                        <li>
                                            <h5>COMPFEST X - FASILKOM UI</h5>
                                            <p id="date">Feb 2018 - Current</p>
                                            <p id="decs">COMPFEST (Computer Festival) is the biggest IT event held by students. I am Staff at Software Engineering Academy division and became PIC (Person in Charge) for third camp.</p>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Education<i class="fa fa-pencil"></i></h5>
                            <div class="container mt-5 mb-5" style="background-color: white">
                                <div class="row">
                                    <ul class="timeline">
                                        <li>
                                            <h5>Computer Science - University of Indonesia</h5>
                                            <p id="date">Aug 2017 - Current</p>
                                            <p id="decs">The course that I have completed : Math Discrete 1 & 2, Programming Foundation 1 & 2, Introduction of Digital System, Basic Math 1.</p>
                                        </li>
                                        <li>
                                            <h5>Science - 68 Senior High School</h5>
                                            <p id="date">Jul 2014 – Jul 2017</p>
                                            <p id="decs">Graduated as the third best student.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Skills<i class="fa fa-gears"></i></h5>
                            <div class="container mt-5 mb-5" style="background-color: white">
                                <div class="row">
                                    <ul class="skills">
                                        <li>
                                            <h5>Python</h5>
                                            <div class="rating">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span class="transparent"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <h5>Java</h5>
                                            <div class="rating">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span class="transparent"></span>
                                                <span class="transparent"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <h5>HTML/CSS</h5>
                                            <div class="rating">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span class="transparent"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <h5>JavaScript</h5>
                                            <div class="rating">
                                                <span></span>
                                                <span></span>
                                                <span class="transparent"></span>
                                                <span class="transparent"></span>
                                                <span class="transparent"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <h5>Bootstrap Framework</h5>
                                            <div class="rating">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span class="transparent"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <h5>Django Framework</h5>
                                            <div class="rating">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span class="transparent"></span>
                                                <span class="transparent"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}