{% extends 'layout/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "css/diary.css" %}">
{% endblock style %}
{% block content %}
    <div class="main-div">
        <div class="container">
            <h1 style="text-align: center" class="text-main">My Diary</h1>
            <hr>
            <a href="{% url 'Story_5:diary-form' %}">Add Activity<i class="fa fa-pencil-square-o"></i></a>
            <a href="{% url 'Story_5:delete_diary' %}">Reset Diary<i class="fa fa-trash"></i></a>
            <div id="list" class="container mx-auto d-block">
            {% if data %}
                <table class="table table-hover table-bordered table-striped table-red" align="center" style="text-align: center">
                    <thead>
                        <tr>
                            <th scope="col">Activities</th>
                            <th scope="col">Place</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date, Time</th>
                        </tr>
                    </thead>
                    {% for item in data %}
                        <tr>
                            <td scope="row">{{ item.name }}</td>
                            <td scope="row">{{ item.location }}</td>
                            <td scope="row">
                                {% if item.category %}
                                    {{ item.category }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td scope="row">
                                {{ item.date|date:"l" }}, {{ item.date }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h1 class="text-main">There is no activity</h1>
            {% endif %}
        </div>
        </div>
    </div>
{% endblock content %}
