{% extends 'layout/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "css/diaryForm.css" %}">
{% endblock style %}
{% block content %}
        <div id="form" class="container">
            <h1>Add Activity</h1>
            <hr>
                <form action={% url 'Story_5:add_activity' %} method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
{% endblock %}
